.skills {
  padding: 2rem 0;
}

.skills h2 {
  margin-bottom: 60px;
  font-weight: 600;
  font-size: var(--body-header);
  color: var(--text-color-100);
  position: relative;
  z-index: 1;
}

.skills.all_dark h2,
.skills.all_dark li,
.skills.all_dark h4 {
  color: var(--text-color-200);
}
.skills.all_light h2,
.skills.all_light li,
.skills.all_light h4 {
  color: #000;
}

.skills h2::after {
  content: "02";
  position: absolute;
  top: -50px;
  right: 100px;
  color: var(--blue-100);
  font-size: 144px;
  z-index: -1;
}

.skills p {
  font-size: var(--body-subtext-alt);
  font-weight: 300;
}

.skills ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4rem;
}

.skills li {
  font-size: var(--body-subtext);
  font-weight: 300;
  color: var(--text-color-100);
}

.skills__info__main {
  margin-bottom: 2rem;
}

.skills__sub__skills_core,
.skills__sub__skills_other {
  text-align: left;
}

.skills__sub__skills h4 {
  font-weight: 600;
  color: var(--text-color-100);
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 600px) {
  .skills ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
